{% extends "layout_unbranded.html" %}

{% block pageTitle %} 
  Edit Job Role
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-l">Edit Job Role</h2>

    <form name="jobRoleForm" action="/editjobroles/{{data.job_role_id}}" onsubmit=""  method="post">
      {# NAME ERROR HEADING #}
      {% if error.nameError %}
        <div class="govuk-error-message">{{ error.nameError }}</div>
      {% endif %}
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label" for="name">
      Role Name
    </label>
        </h1>
        <input class="govuk-input" id="name" name="name" type="text" value="{{data.name}}">
      </div>
      {# SPEC ERROR HEADING #}
      {% if error.specError %}
      <div class="govuk-error-message">{{ error.specError }}</div>
      {% endif %}
      <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label" for="job_spec" >
      Job Spec
    </label>
  </h1>
  <textarea class="govuk-textarea" id="job_spec" name="job_spec" rows="5" aria-describedby="more-detail-hint" >{{data.job_spec}}</textarea>
</div>
{# SPEC URL ERROR HEADING #}
{% if error.specURLError %}
  <div class="govuk-error-message">{{ error.specURLError }}</div>
{% endif %}
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label" for="job_spec_url">
      Job Spec URL
    </label>
        </h1>
        <input class="govuk-input" id="job_spec_url" name="job_spec_url" type="text" value="{{data.job_spec_url}}">
      </div>
      {# JOB FAMILY ERROR HEADING #}
      {% if error.jobFamilyError %}
        <div class="govuk-error-message">{{ error.jobFamilyError }}</div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Job Family
  </label>
  
  <select class="govuk-select" id="job_family_id" name="job_family_id" value="{{data.job_family_id}}" >
    {% if data.job_family_id != null %}
      <option value={{data.job_family_id}}>{{data.family_name}}</option>
    {% else %}
      <option value="" >Select one...</option>
    {% endif %}
    {% for bl in formData.job_family_idList %}
      <option value="{{data.job_family_id}}">{{bl.family_name}}</option>
    {% endfor %}
  </select>
</div>
       
</div>
{# BAND LEVEL ERROR HEADING #}
{% if error.bandLevelError %}
  <div class="govuk-error-message">{{ error.bandLevelError }}</div>
{% endif %}
        <div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
  <label class="govuk-label" for="band_level_id">
    Band Level 
  </label>
  <select class="govuk-select" id="band_level_id" name="band_level_id" value="{{data.band_level_id}}" >
    {% if  data.band_level_id != null %}
      <option value={{data.band_level_id}}>{{data.band_name}}</option>
    {% else  %}
      <option value="" >Select one...</option>
    {% endif %}
    {% for bl in formData.bandList %}
      <option value="{{bl.band_level_id}}">{{bl.band_name}}</option>
    {% endfor %}
  </select>
</div>
        </div>

        
       
 
     

      {{ govukButton({
  text: "Save and continue"
}) }}

    </form>



{% endblock %}