<!-- {% extends "layout.html" %} 



<form class="form" action="/editroles" method="PUT">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="fname"><b>Role</b></label>
      <input type="text" placeholder="Enter First Name" name="fname" id="fname" required>
  
      <label for="lname"><b>Job spec</b></label>
      <input type="text" placeholder="Enter Last Name" name="lname" id="lname" required>
  
      <label for="NIN"><b>NIN</b></label>
      <input type="text" placeholder="NIN" name="NIN" id="NIN" required>
      <hr>
  
      <label for="bank_account"><b>Bank Account</b></label>
      <input type="text" placeholder="Bank Account" name="bank_account" id="bank_account" required>
      <hr>
  
        <label for="address"><b>Address</b></label>
      <input type="text" placeholder="Address" name="address" id="address" required>
      <hr>
  
        <label for="salary"><b>Start Salary</b></label>
      <input type="number" placeholder="Start Salary" name="salary" id="salary" required>
      <hr>
  
      <label for="comission"><b>Comission</b></label>
      <input type="number" placeholder="comission" name="comission" id="comission" required>
      <hr>
  
          <label for="totalsales"><b>Total Sales</b></label>
      <input type="number" placeholder="totalsales" name="totalsales" id="totalsales" required>
      <hr>
        
        <h1> Is this person a manager </h1>
        <input type="radio" id="True" name="isManager" value="True">
    <label for="True">Yes</label><br>
    <input type="radio" id="False" name="isManager" value="False">
    <label for="False">No</label><br>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
    
  </form>
-->

{% extends "layout_unbranded.html" %}

{% block pageTitle %} 
  Add New Job Role
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-l">Edit Job Role</h2>



    <form name="jobRoleForm" action="/editjobroles" onsubmit=""  method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="id">
          Role
        </label>
        <select class="govuk-select" id="id" name="id" value="{{data.id}}" >
            <option value={{data.id}}>{{data.id}}</option>
        </select>
      </div>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label" for="name">
      Role Name
    </label>
        </h1>
        <input class="govuk-input" id="name" name="name" type="text" value="{{data.name}}">
      </div>
      <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label" for="jobSpec" >
      Job Spec
    </label>
  </h1>
  <textarea class="govuk-textarea" id="jobSpec" name="jobSpec" rows="5" aria-describedby="more-detail-hint" >{{data.job_spec}}</textarea>
</div>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label" for="jobSpecURL">
      Job Spec URL
    </label>
        </h1>
        <input class="govuk-input" id="jobSpecURL" name="jobSpecURL" type="text" value="{{data.job_spec_url}}">
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Job Family
  </label>
  
  <select class="govuk-select" id="jobFamily" name="jobFamily" value="{{data.job_family_id}}" >
    {% if data.job_family_id != null %}
      <option value={{data.job_family_id}}>{{data.family_name}}</option>
    {% else  %}
      <option value="" >Select one...</option>
    {% endif %}
    {% for bl in formData.jobFamilyList %}
      <option value="{{data.job_family_id}}">{{bl.family_name}}</option>
    {% endfor %}
  </select>
</div>
       
</div>
        <div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
  <label class="govuk-label" for="bandLevel">
    Band Level 
  </label>
  <select class="govuk-select" id="bandLevel" name="bandLevel" value="{{data.band_level_id}}" >
    {% if  data.band_level_id != null %}
      <option value={{data.band_level_id}}>{{data.band_name}}</option>
    {% else  %}
      <option value="" >Select one...</option>
    {% endif %}
    {% for bl in formData.bandList %}
      <option value="{{bl.band_level_id}}">{{bl.band_name}}</option>
    {% endfor %}
  </select>
</div>
        </div>

        
       
 
     

      {{ govukButton({
  text: "Save and continue"
}) }}

    </form>



{% endblock %}