{% extends "layout_unbranded.html" %}



{% block pageTitle %} 
  List of Job Roles
{% endblock %}

{% block content %}

<h2 id="job-role-heading">List of Job Roles</h2>

{% if inserted %} 
  <p class="alert alert-success" id="insertMessage">New job role inserted!</p>
{% endif %}

{% if inserted %} 
  <p class="alert alert-success" id="insertMessage">New job role inserted!</p>
{% endif %}

{% if errormessage %} 
  <div class="alert alert-danger">{{ errormessage }}</div>
{% else %}

    {% if jobroles and jobroles.length > 0 %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fourth">Band Level</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-fourth">Capability</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for row in jobroles %}
          <tr class="govuk-table__row"> 
            <td id="{{row.name}}-{{row.id}}" class="govuk-table__cell govuk-input--width-20" style="overflow: hidden !important;"><a id="{{row.name}}-{{row.id}}-href" href="./jobSpec/{{row.id}}" target="_blank">{{row.name}}</a></td>
            <td id="{{row.bandName}}-{{row.id}}" class="govuk-table__cell govuk-input--width-20" style="overflow: hidden !important;">{{row.bandName}}</td>
            <td id="{{row.capability}}-{{row.id}}" class="govuk-table__cell govuk-input--width-20" style="overflow: hidden !important;">{{row.capability}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
      
    {% else %}
      There are no Job Roles. 
    {% endif %}

{% endif %}

{% endblock %}