{% extends "layout_unbranded.html" %}


{% block pageTitle %} 
{{ jobSpecification.job_role }} Job Specification
{% endblock %}

{% block content %}

<h2 id="specificationHeading">{{ jobSpecification.job_role }} Job Specification</h2>

{% if errormessage %} 
  <div class="alert alert-danger" id="errorMessage">{{ errormessage }}</div>
{% else %}
  <div id="specification">{{ jobSpecification.job_spec }}</div>

  </br>
  <td id="specificationURL"><a id="specificationURLLink" href="{{ jobSpecification.job_spec_link }}" target="_blank">See More . . . </a></td>
{% endif %}

{% endblock %}
